
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    padding: 3rem;
}
.App-select-type {
    font-size: 1rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
}


.wrapper {
    position: relative;
    width: 10rem;
}
.close-button {
    position: absolute;
    right: 0;
    top: 0;

    font-family: monospace;
    cursor: pointer;
    display: flex;
    height: 100%;
    bottom: 0;
    line-height: 1;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    z-index: 1;

}

.input-block {
    display: flex;
    justify-content: space-between;
}
.top-input {
    display: block;
    padding: .5rem;
    width: 100%;
    outline: none;
    border: 1px solid darkgray;
}
.top-input:focus {
    border-color: dodgerblue;
    box-shadow: 1px 1px dodgerblue;
}
.top-input::placeholder {

    color: lightgray;
 }
.dropdown {
    height: 12rem;
    position: absolute;
    top: 2.4rem;
    border: 1px solid darkgray;
    width: 100%;
    overflow-y: scroll;
    z-index: 1;
    background: #fff;
}

.list-item {
    font-size: 0.8rem;
    padding: .5rem;
    line-height: 1;
    cursor: pointer;
    /*border: 1px solid black;*/
}
.list-item:hover {
    background: dodgerblue;
    color: #fff;
}

.list-item.no-options {
    color: gray;
}
